@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";


<div class="text-center">
    <section style="background-color:deeppink">
        <h1> Taylors fashion page</h1>
        <img src=" https://dimg.dillards.com/is/image/DillardsZoom/nav2/ugg-fluff-yeah-slides/05385862_zi_fuchsia.jpg" />
        <p> uggs shoes</p>
        <h2> ugg boots</h2>
        <img src="https://i.pinimg.com/originals/53/8a/1f/538a1f958d177593620c4084ff07bab5.jpg" />
        <h3> sweaters</h3>
        <img src="https://assets.teenvogue.com/photos/55fc95e3dc0279f51d0336e7/master/w_962,h_963,c_limit/cropped-sweaters-for-fall-05.jpg" />
        <div class="t-shirts">
            <h2>pink</h2>
            <p>pinkprint</p>
            <h3> </h3>
        </div>
    </section>


</div>